In [1]:
def square(x):
    return x**2
square(10)

100

In [5]:
numbers = [1,2,3,4,5,6,7,8,9]

map(square,numbers)
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
#lambda function with mapo
numbers = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# can we map mulitple iterable
num1 = [1,2,3,4,5]
num2 = [6,7,8,9,0]

added_num = list(map(lambda x,y:x+y,num1,num2))
print(added_num)

[7, 9, 11, 13, 5]

In [10]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_num = list(map(int,str_numbers))
print(int_num)

[1, 2, 3, 4, 5]

In [12]:
words = ['apple' , 'banana' , 'orange']
upper_word = list(map(str.upper , words))
print(words)
print(upper_word)

['apple', 'banana', 'orange']
['APPLE', 'BANANA', 'ORANGE']

In [14]:
def get_name(person):
    return person['name']
people = [
    {'name':"krish" , 'age':32},
    {'name':"mylo" , 'age':22}
]

list(map(get_name,people))

['krish', 'mylo']