In [1]:
# Create a set with the first 10 positive integers. Print the set

my_set = set(x for x in range(1,11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

my_set.add(11)
my_set.remove(1)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [24]:
# Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.
set1 = set(x for x in range(1,6))
set2 = set(x for x in range(1,11) if x%2==0)
print(set1 , set2)

union_set = set1.union(set2)
print(union_set)
intersection_set = set1.intersection(set2)
print(intersection_set)
difference_set = set1.difference(set2)
print(difference_set)
symmetric_set = set1.symmetric_difference(set2)
update_set = set1.symmetric_difference_update(set2)
print(symmetric_set)
print(set1)

TypeError: 'set' object is not callable

In [13]:
# Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

square_set = set(x**2 for x in range(1,11))
print(square_set)
final_square_set = sorted(square_set)
print(final_square_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
# Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

evens = set(x for x in range(1 ,11) if x%2==0)
print(evens)

TypeError: 'set' object is not callable

In [4]:
# Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
grp = {1,2,3,4,5,5,7,7,8,8,8,2,2,1}
dup_set = set(grp)
print(dup_set)

{1, 2, 3, 4, 5, 7, 8}

In [22]:
# Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

set1  = set(x for x in range(1,6))
set2 = set(x for x in range(1,4))

print(set2.issubset(set1))
print(set1.issuperset(set2))

TypeError: 'set' object is not callable

In [21]:
# Create a frozenset with the first 5 positive integers. Print the frozenset.

fs = frozenset(x for x in range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [20]:
# Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

my_set = set(x for x in range(1,6))
lst_set=list(my_set)
lst_set.append(6)
new_lst_set = set(lst_set)
print(new_lst_set)

TypeError: 'set' object is not callable

In [3]:
# Create a dictionary with set keys and integer values. Print the dictionary.
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [19]:
# Create a set and iterate over the elements, printing each element.
sets = {1,2,3,4,5,6,7,8}
for i in sets:
    print(i , end=" ")

1 2 3 4 5 6 7 8

In [18]:
# Create a set and remove elements from it until it is empty. Print the set after each removal.
set4 = {1,2,3,4,5,6,7,8}
while set4:
    set4.pop()
    print(set4)

{2, 3, 4, 5, 6, 7, 8}
{3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{5, 6, 7, 8}
{6, 7, 8}
{7, 8}
{8}
set()

In [17]:
# Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 6, 7, 8}

In [2]:
# Create a set and test if certain elements are present in the set. Print the results.

s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [5]:
# Create a set containing tuples, where each tuple contains two elements. Print the set.

set_tup = {(1,2) , (3,4)}
print(set_tup)

{(1, 2), (3, 4)}