In [4]:
# Create a tuple with the first 10 positive integers. Print the tuple.

tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
# Print the first, middle, and last elements of the tuple created in Assignment 1.

print(tup[0])
print(tup[len(tup)//2])
print(tup[-1])

1
6
10

In [26]:
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tup[:3])
print(tup[-3:])
print(tup[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [34]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("The matrix is:")
for row in matrix:
    print(row)
print(f"the element is {matrix[1][2]}")

The matrix is:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
the element is 6

In [35]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tup1 = (1,2,3,4)
tup2 = (5,6,7,8)

conc_tup = tup1 + tup2
print(conc_tup)

(1, 2, 3, 4, 5, 6, 7, 8)

In [37]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

In [40]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
packed_tuple = (1,2,3,4,5)
a,b,c,d,e = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [44]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

my_list = [x for x in range(1,6)]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [47]:
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

three_tuple = ((1,2,3) , (4,5,6) , (7,8,9))
print(three_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [2]:
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup = tuple(x for x in range(1,6))
print(tup)
my_list = list(tup)
print(my_list)

my_list.append(6)

print(tuple(my_list))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [5]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string_tuple = ("A" , "b" , "C" , "d" , "E") #iterating

for strings in string_tuple:
    print(strings , end = " ")
    strings += strings

A b C d E

In [9]:
string = "hello" #corect approach
tpl = tuple(string)
print(string)
joined_string = ''.join(tpl)
print(joined_string)

hello
hello

In [1]:
# Create a dictionary with tuple keys and integer values. Print the dictionary.

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [4]:
# Create a nested tuple and iterate over the elements, printing each element.
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for tpl in nested_tpl:
    for elements in tpl:
          print(elements , end=" ")

1 2 3 4 5 6 7 8 9

In [5]:
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

dup_tupl = (1,2,2,2,3,4,6,6,7,9,9)
print(set(dup_tupl))

{1, 2, 3, 4, 6, 7, 9}

In [6]:
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_fun(tpl):
    return min(tpl)

def max_fun(tpl):
    return max(tpl)

def sum_fun(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_fun(sample_tpl)}")
print(f"Maximum: {max_fun(sample_tpl)}")
print(f"Sum: {sum_fun(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15