### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [1]:
import sqlite3

def create_database():
    connection = sqlite3.connect('test.db')
    connection.close()
    print('Database is succesfully created and connected')

create_database()

Database is succesfully created and connected

In [2]:
def create_table():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
                   id INTEGER PRIMARY KEY,
                   Name TEXT NOT NULL,
                   Age INTEGER , 
                   Department TEXT
                   )
''')
    connection.commit()
    connection.close()
    print('The table is succesfully created')

create_table()

The table is succesfully created

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [3]:
def new_employee(id,Name,Age,Department):
    connection = sqlite3.connect('test.db')
    cursor  = connection.cursor()
    cursor.execute('''
    INSERT INTO employees(id,Name,Age,Department)
    VALUES(?,?,?,?)
''' , (id,Name,Age,Department))
    connection.commit()
    connection.close()
    print('Employees Data has been inserted succesfully')

new_employee(1001,'John',23,'HR')

Employees Data has been inserted succesfully

In [4]:
new_employee(1002,'Ryan',26,'Finance')
new_employee(1003,'Ron',25,'Technical')
new_employee(1004,'Anya',27,'Technical')

Employees Data has been inserted succesfully
Employees Data has been inserted succesfully
Employees Data has been inserted succesfully

In [5]:
new_employee(1005,'Ken',27,'HR')

Employees Data has been inserted succesfully

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [6]:
def display_all_records():
    connection =  sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    SELECT * FROM employees
''')
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

display_all_records()

(1001, 'John', 23, 'HR')
(1002, 'Ryan', 26, 'Finance')
(1003, 'Ron', 25, 'Technical')
(1004, 'Anya', 27, 'Technical')
(1005, 'Ken', 27, 'HR')

In [7]:
def display_dept(Department):                 
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    SELECT * FROM employees WHERE Department=?
''',(Department,))
    records = cursor.fetchall()
    connection.close()

    for record in records:
        print(record)

display_dept('HR')
# (Department,): This creates a tuple with one element. Without the comma, Department would just be a string.
# SQLite requires parameters to be passed as a tuple (or a list) when using placeholders (?) in the query.

(1001, 'John', 23, 'HR')
(1005, 'Ken', 27, 'HR')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

In [8]:
def update_department(id,Department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    UPDATE employees
    Set Department = ?
    where id = ?
''' , (Department , id))
    connection.commit()
    connection.close()
    print('The Department has been updates Successfully')

update_department(1001 , 'Finance')

The Department has been updates Successfully

In [9]:
update_department(1002 , 'HR')

The Department has been updates Successfully

In [10]:
display_all_records()

(1001, 'John', 23, 'Finance')
(1002, 'Ryan', 26, 'HR')
(1003, 'Ron', 25, 'Technical')
(1004, 'Anya', 27, 'Technical')
(1005, 'Ken', 27, 'HR')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

In [11]:
def delete_employee(id):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    DELETE from employees
    WHERE id = ?
''' , (id,))
    connection.commit()
    connection.close()
    print('The Record has been deleted succesfully')

delete_employee(1001)

The Record has been deleted succesfully

In [12]:
display_all_records()

(1002, 'Ryan', 26, 'HR')
(1003, 'Ron', 25, 'Technical')
(1004, 'Anya', 27, 'Technical')
(1005, 'Ken', 27, 'HR')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [13]:
def employee_age(Age):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    SELECT * FROM employees
    WHERE Age > ?
''',(Age,))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

employee_age(25)

(1002, 'Ryan', 26, 'HR')
(1004, 'Anya', 27, 'Technical')
(1005, 'Ken', 27, 'HR')

In [14]:
def employee_name(letter):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    SELECT * FROM employees
    WHERE Name LIKE ? 
''',(letter + '%',))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

employee_name("A")

(1004, 'Anya', 27, 'Technical')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [15]:
def insert_employees(employees):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.execute('''
    INSERT INTO employees(id,Name,Age,Department)
                   values(?,?,?,?)
''' , employees)
        connection.commit()
        print("All insertions are done succesfully")
    except Exception as e:
        connection.rollback()
        print('Error Occurred , Transaction Rolledback')
        print(e)
    finally:
        connection.close()

    employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]

In [16]:
def update_age(updates):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.executemany('''
    UPDATE employees
    SET Age = ?
    WHERE id = ?
''' , updates)
        connection.commit()
        print('Age Updated Succesfully')
    except Exception as e:
        connection.rollback()
        print('Update failed , Rolling Back')
    finally:
        connection.close()

updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_age(updates)

Age Updated Succesfully

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [17]:
connection  = sqlite3.connect('test.db')
cursor = connection.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS departments(
               id INTEGER PRimary Key,
               Name Text Not Null
               )
''')
connection.commit()

In [18]:
# Disable foreign key constraints
cursor.execute('PRAGMA foreign_keys=off;')
        
# Start a transaction
cursor.execute('BEGIN TRANSACTION;')
        
# Rename the existing table
cursor.execute('ALTER TABLE employees RENAME TO old_employees;')
        
# Create the new employees table with the foreign key constraint
cursor.execute('''
            CREATE TABLE employees (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                age INTEGER,
                department TEXT,
                department_id INTEGER,
                FOREIGN KEY(department_id) REFERENCES departments(id)
            );
''')
        
# Insert data from old table to new one without department_id
cursor.execute('''
            INSERT INTO employees (id, name, age, department)
            SELECT id, name, age, department FROM old_employees;
''')
        
 # Drop the old table
cursor.execute('DROP TABLE old_employees;')

In [ ]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [ ]:
def index_name():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    CREATE INDEX idx_name on employees('Name')
''')
    connection.commit()
    connection.close()
    print("Index on 'name' column created successfully.")

index_name()

In [ ]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [22]:
import shutil

def backup():
   shutil.copy('test.db','backup.db')
   print('Database backuped succesfullly')

backup()

Database backuped succesfullly

In [23]:
def restore():
   shutil.copy('backup.db','test.db')
   print('Database Restored succesfullly')

restore()

Database Restored succesfullly