### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)) , columns=['A','B','C','D'])
print('Dataframe:')
print(df)

df.set_index('A' , inplace = True)
print("Indexed Dataframe:")
print(df)

Dataframe
    A   B   C   D
0  13  18  18  60
1  90  15  45   2
2  20  39  42  22
3  88  10  73  65
4  93  68  19  85
5  25  93  31  90
Indexed Dataframe
     B   C   D
A
13  18  18  60
90  15  45   2
20  39  42  22
88  10  73  65
93  68  19  85
25  93  31  90

In [26]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)) , columns=['A','B','C'] , index=['X','Y','Z'])
print('Dataframe:')
print(df)

elements = df.at['Y' , 'B']
print('Elements Requested')
print(elements)

Dataframe:
    A   B   C
X  10  43  67
Y  77  57   3
Z  10  67  13
Elements Requested
57

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [29]:
df =  pd.DataFrame(np.random.randint(1,100,size=(5,3)) , columns=['A','B','C'])
print('Dataframe:')
print(df)

df['D']  = df['A']*df['B']
print('Dataframe Regenerated')
print(df)

Dataframe:
    A   B   C
0   7   8  48
1  35  53  47
2  46  34   2
3  89  96  37
4  92  45  14
Dataframe Regenerated
    A   B   C     D
0   7   8  48    56
1  35  53  47  1855
2  46  34   2  1564
3  89  96  37  8544
4  92  45  14  4140

In [36]:
df =  pd.DataFrame(np.random.randint(1,100,size=(4,3)) , columns=['A','B','C'])
print('Dataframe:')
print(df)

row_wise_sum = df.sum(axis=1)
print('Row Wise Sum')
print(row_wise_sum)

column_wise_sum = df.sum(axis=0)
print('Column Wise Sum')
print(column_wise_sum)

Dataframe:
    A   B   C
0  56  49  51
1  52  69  69
2  96   3  84
3  96  46  18
Row Wise Sum
0    156
1    190
2    183
3    160
dtype: int64
Column Wise Sum
A    300
B    167
C    222
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [42]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)) , columns=['A' , 'B' , 'C'])
print('Dataframe:')
print(df)

df.iloc[1, 0] = np.nan
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print('Dataframe with some NaN values:')
print(df)

# df.fillna(df.mean().mean() , inplace=True) if want to replace with mean of whole dstaframe
df.fillna(df.mean() , inplace=True) # mean of respective coloumn
print('Final Dataframe')
print(df)

Dataframe:
    A   B   C
0  98  14  44
1  84  39   4
2  58  62  36
3  73  35  41
4  37  92  46
Dataframe with some NaN values:
      A     B     C
0  98.0   NaN  44.0
1   NaN  39.0   4.0
2  58.0  62.0   NaN
3  73.0  35.0  41.0
4   NaN  92.0  46.0
Final Dataframe
           A     B      C
0  98.000000  57.0  44.00
1  76.333333  39.0   4.00
2  58.000000  62.0  33.75
3  73.000000  35.0  41.00
4  76.333333  92.0  46.00

In [44]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)) , columns=['A' ,'B' ,'C'])
print('Dataframe')
print(df)

df.iloc[1, 0] = np.nan
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print('Dataframe with some NaN values:')
print(df)

df.dropna(inplace=True)
print('Final Dataframe:')
print(df)

Dataframe
    A   B   C
0  91  80  97
1  79  15  61
2   3   1   1
3  70  12  59
4  28   9  93
5  28  80  79
Dataframe with some NaN values:
      A     B     C
0  91.0   NaN  97.0
1   NaN  15.0  61.0
2   3.0   1.0   NaN
3  70.0  12.0  59.0
4   NaN   9.0  93.0
5  28.0  80.0  79.0
Final Dataframe
      A     B     C
3  70.0  12.0  59.0
5  28.0  80.0  79.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [10]:
df = pd.DataFrame({'Category':np.random.choice(['A','B','C'] , size = 10) , 'Value':np.random.randint(1,100,size=10)})
print('Dataframe:')
print(df)

grouped=df.groupby('Category')['Value'].agg(['sum','mean'])
print('Grouped DF')
print(grouped)

Dataframe:
  Category  Value
0        A     46
1        A     30
2        A     37
3        C     97
4        C     87
5        C      4
6        B     67
7        B     15
8        C     47
9        B     88
Grouped DF
          sum       mean
Category
A         113  37.666667
B         170  56.666667
C         235  58.750000

In [11]:
df = pd.DataFrame({'Product' : np.random.choice(['Prod1','Prod2','Prod3'],size = 10) , 'Category':np.random.choice(['Cat1' , 'Cat2' , 'Cat3'] , size=10) , 'Sales':np.random.randint(1,100,size=10)})
print('Dataframe:')
print(df)

grouped = df.groupby('Category')['Sales'].agg('sum')
print('Grouped DF')
print(grouped)

Dataframe:
  Product Category  Sales
0   Prod2     Cat2     46
1   Prod3     Cat3     77
2   Prod1     Cat1     41
3   Prod2     Cat2     96
4   Prod1     Cat1     90
5   Prod1     Cat3     94
6   Prod3     Cat2      2
7   Prod1     Cat2     71
8   Prod1     Cat2     91
9   Prod3     Cat2     25
Grouped DF
Category
Cat1    131
Cat2    331
Cat3    171
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [14]:
df1 = pd.DataFrame({'Key':['A','B','C','D'] , 'Values': np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'] , 'Values': np.random.randint(1,100,size=4)})
print('Dataframe1:')
print(df1)

print('Dataframe2:')
print(df2)

merged_df = pd.merge(df1,df2,on='Key')
print(merged_df)

Dataframe1:
  Key  Values
0   A      50
1   B      93
2   C       4
3   D      71
Dataframe2:
  Key  Values
0   A      17
1   B      97
2   C      24
3   E      50
  Key  Values_x  Values_y
0   A        50        17
1   B        93        97
2   C         4        24

In [16]:
df1 = pd.DataFrame({'A':np.random.randint(1,100,size=4) ,'B':np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'C':np.random.randint(1,100,size=4) , 'D':np.random.randint(1,100,size=4)})

print('Dataframe 1:')
print(df1)
print('Dataframe 2:')
print(df2)

concatenate_row = pd.concat([df1 , df2] , axis=1)
concatinate_columns = pd.concat([df1 , df2], axis=0)
print('Row Concatination')
print(concatenate_row)
print('Column Concatination')
print(concatinate_columns)

Dataframe 1:
    A   B
0  30  45
1  79  42
2  23  89
3  26  91
Dataframe 2:
    C   D
0   2  86
1  81  10
2   9  39
3  88  49
Row Concatination
    A   B   C   D
0  30  45   2  86
1  79  42  81  10
2  23  89   9  39
3  26  91  88  49
Column Concatination
      A     B     C     D
0  30.0  45.0   NaN   NaN
1  79.0  42.0   NaN   NaN
2  23.0  89.0   NaN   NaN
3  26.0  91.0   NaN   NaN
0   NaN   NaN   2.0  86.0
1   NaN   NaN  81.0  10.0
2   NaN   NaN   9.0  39.0
3   NaN   NaN  88.0  49.0

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [26]:
Date_range = pd.date_range(start='2022-01-01',end='2022-12-31',freq="D") #freq='D': The frequency is daily (D stands for days).
df = pd.DataFrame(Date_range,columns=['date'])
df['data'] = np.random.randint(1,100,size=len(Date_range))
df.set_index('date' , inplace=True)
print('Dataframe:')
print(df)

Monthly_mean = df.resample('ME').mean() #'ME': Specifies the frequency to be monthly.
print('Monthly Mean')
print(Monthly_mean)

Dataframe:
            data
date
2022-01-01    18
2022-01-02    49
2022-01-03    98
2022-01-04    50
2022-01-05    33
...          ...
2022-12-27    67
2022-12-28    98
2022-12-29    51
2022-12-30    35
2022-12-31    24

[365 rows x 1 columns]
Monthly Mean
                 data
date
2022-01-31  45.129032
2022-02-28  37.464286
2022-03-31  46.645161
2022-04-30  47.100000
2022-05-31  52.161290
2022-06-30  49.733333
2022-07-31  52.354839
2022-08-31  47.645161
2022-09-30  47.900000
2022-10-31  45.516129
2022-11-30  57.900000
2022-12-31  54.225806

In [30]:
Date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame(Date_range , columns=['Date'])
df["Data"] = np.random.randint(1,100,size=len(Date_range))
df.set_index('Date' , inplace=True)
print('Dataframe:')
print(df)

rolling_mean  = df.rolling(window=7).mean()
print('Rolling Mean:')
print(rolling_mean)

Dataframe:
            Data
Date
2022-01-01    67
2022-01-02    62
2022-01-03    19
2022-01-04     1
2022-01-05     8
...          ...
2022-12-27    25
2022-12-28    55
2022-12-29     1
2022-12-30    93
2022-12-31     6

[365 rows x 1 columns]
Rolling Mean:
                 Data
Date
2022-01-01        NaN
2022-01-02        NaN
2022-01-03        NaN
2022-01-04        NaN
2022-01-05        NaN
...               ...
2022-12-27  50.571429
2022-12-28  54.142857
2022-12-29  41.428571
2022-12-30  48.285714
2022-12-31  47.142857

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [35]:
array = [['A','B','C','D'] , ['One','Two','Three','Four']]
index = pd.MultiIndex.from_arrays(array , names=('Category','Sub-Category'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)) , index=index , columns=['Value1','Value2','Value3'])
print('Dataframe:')
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'Two')])

Dataframe:
                       Value1  Value2  Value3
Category Sub-Category
A        One               30      47      78
B        Two                8      58       8
C        Three             63      71      55
D        Four              72      77      77
Indexing at Category 'A':
              Value1  Value2  Value3
Sub-Category
One               30      47      78
Slicing at Category 'B' and SubCategory 'two':
Value1     8
Value2    58
Value3     8
Name: (B, Two), dtype: int32

In [40]:
arr = [['A','B','C'] , [1,2,3]]
index = pd.MultiIndex.from_arrays(arr , names=('Category','Subcategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)) , index=index , columns=['Val1' , 'Val2' , 'Val3'])
print('Dataframe:')
print(df)

Sum = df.groupby(['Category' , 'Subcategory']).sum()
print('Sum is')
print(Sum)

Dataframe:
                      Val1  Val2  Val3
Category Subcategory
A        1              88    16    63
B        2              83    15    13
C        3              42    74    73
Sum is
                      Val1  Val2  Val3
Category Subcategory
A        1              88    16    63
B        2              83    15    13
C        3              42    74    73

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [45]:
date_rng = pd.date_range(start='2023-01-01' , end='2023-12-31' , freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng) , 'Category': np.random.choice(['A','B','C'] , size=20) , 'Value':np.random.randint(1,100,size=20)})
print('Dataframe:')
print(df)

Sum_Value = df.pivot_table(values='Value' , index='Date' , columns='Category' , aggfunc='sum')
print('Sum Value')
print(Sum_Value)

Dataframe:
         Date Category  Value
0  2023-11-15        B     34
1  2023-11-15        A     32
2  2023-11-15        A     86
3  2023-11-15        A     96
4  2023-11-15        C     32
5  2023-11-15        A     55
6  2023-11-15        B     14
7  2023-11-15        B     30
8  2023-11-15        A      4
9  2023-11-15        A     36
10 2023-11-15        B     22
11 2023-11-15        B     70
12 2023-11-15        C     37
13 2023-11-15        A     58
14 2023-11-15        A     97
15 2023-11-15        A     85
16 2023-11-15        B     47
17 2023-11-15        B     96
18 2023-11-15        B     50
19 2023-11-15        B      1
Mean Revenue
Category      A    B   C
Date
2023-11-15  549  364  69

In [46]:
data_rng = pd.date_range(start='2023-01-01' , end='2023-12-01' , freq='D')
df = pd.DataFrame({'Date':np.random.choice(data_rng) , 'Quarter':np.random.choice(['Quarter1','Quarter2','Quarter3','Quarter4'],size = 20) ,'Revenue':np.random.randint(1,100,size=20)})
print('Dataframe:')
print(df)

Mean_Revenue = df.pivot_table(values='Revenue' , index='Date' , columns='Quarter' , aggfunc='mean')
print('Mean Revenue')
print(Mean_Revenue)

Dataframe:
         Date   Quarter  Revenue
0  2023-11-04  Quarter2       32
1  2023-11-04  Quarter3       17
2  2023-11-04  Quarter4       21
3  2023-11-04  Quarter2       78
4  2023-11-04  Quarter4       81
5  2023-11-04  Quarter1       49
6  2023-11-04  Quarter3        7
7  2023-11-04  Quarter4       81
8  2023-11-04  Quarter2       78
9  2023-11-04  Quarter2       34
10 2023-11-04  Quarter2       99
11 2023-11-04  Quarter3       58
12 2023-11-04  Quarter2       28
13 2023-11-04  Quarter2       71
14 2023-11-04  Quarter1       81
15 2023-11-04  Quarter4       92
16 2023-11-04  Quarter1        4
17 2023-11-04  Quarter1       47
18 2023-11-04  Quarter3       56
19 2023-11-04  Quarter3       96
Mean Revenue
Quarter     Quarter1  Quarter2  Quarter3  Quarter4
Date
2023-11-04     45.25      60.0      46.8     68.75

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [48]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)) , columns=['A','B','C'])
print('Dataframe:')
print(df)
 
Doubled = df.map(lambda x:x*2) #applymap depricted , use map instead
print('Doubled Dataframe')
print(Doubled)

Dataframe:
    A   B   C
0  69  60  66
1  50  85  67
2  24  52   8
3  67  32  17
4  37  70  85
Doubled Dataframe
     A    B    C
0  138  120  132
1  100  170  134
2   48  104   16
3  134   64   34
4   74  140  170

In [56]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
print('Dataframe')
print(df)

column_Sum = df.apply(lambda row: row.sum() , axis=1)
print('Column Sum')
print(column_Sum)

Dataframe
    A   B   C
0   3  19  40
1  38  18  26
2  79  24   2
3  59  72  80
4  87  24  73
5  19  31  96
Column Sum
0     62
1     82
2    105
3    211
4    184
5    146
dtype: int64

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [58]:
series  = pd.Series(['hi' , 'how' , 'are' , 'you' , 'hello'])
print('Series:')
print(series)

Upper_Case = series.str.upper()
print('Upper Case')
print(Upper_Case)

Series:
0       hi
1      how
2      are
3      you
4    hello
dtype: object
Upper Case
0       HI
1      HOW
2      ARE
3      YOU
4    HELLO
dtype: object

In [59]:
series  = pd.Series(['hi' , 'how' , 'are' , 'you' , 'hello'])
print('Series:')
print(series)

three_char = series.str[:3]
print(three_char)

Series:
0       hi
1      how
2      are
3      you
4    hello
dtype: object
0     hi
1    how
2    are
3    you
4    hel
dtype: object