### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
# Connect to SQLite Database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
# Create a Table
cursor.execute('''
Create Table if Not Exists employees(
                id Integer Primary Key,
                Name Test Not Null,
                Age Integer,
                Department
                )
''')

# Commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
''')

In [9]:
# Insert the data in sqlite table
cursor.execute('''
INSERT INTO employees(Name,Age,Department)
               values('Abhinav',19,'Student'),
                     ('Bob',25,'Doctor'),
                     ('Charlie',22,'Student')
''')

#commit the changes
connection.commit()

In [10]:
## Querying the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Abhinav', 19, 'Student')
(2, 'Bob', 25, 'Doctor')
(3, 'Charlie', 22, 'Student')

In [13]:
# Update the data in the table
cursor.execute('''
UPDATE employees
Set Age=20
where Name='Abhinav'
''')

connection.commit()

In [14]:
## Querying the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Abhinav', 20, 'Student')
(2, 'Bob', 25, 'Doctor')
(3, 'Charlie', 22, 'Student')

In [15]:
## Delete the data from the table
cursor.execute('''
DELETE from employees where Name='Bob'
''')

connection.commit()

In [16]:
## Querying the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Abhinav', 20, 'Student')
(3, 'Charlie', 22, 'Student')

In [26]:
# Working on Sales Data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert or Ignore into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)
#The cursor.executemany() function is useful for inserting 
#multiple rows into a table at once using placeholders for the values

connection.commit()

In [28]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')
(11, '2023-01-01', 'Product1', 100, 'North')
(12, '2023-01-02', 'Product2', 200, 'South')
(13, '2023-01-03', 'Product1', 150, 'East')
(14, '2023-01-04', 'Product3', 250, 'West')
(15, '2023-01-05', 'Product2', 300, 'North')
(16, '2023-01-01', 'Product1', 100, 'North')
(17, '2023-01-02', 'Product2', 200, 'South')
(18, '2023-01-03', 'Product1', 150, 'East')
(19, '2023-01-04', 'Product3', 250, 'West')
(20, '2023-01-05', 'Product2', 300, 'North')

In [29]:
# Close the connection
connection.close()